body,
html {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.main {
  width: 90%;
  margin: 5% auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.grid-card {
  border-radius: 10px;
  padding: 16px;
}

.grid-card:hover {
  cursor: pointer;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

.name-container {
  margin-left: 8px;
}

.student-name {
  margin: 0 0 4px 0;
}

.verified {
  opacity: 0.5;
  margin: 4px 0 0 0;
}

.main-quote {
  font-size: 24px;
}

.review {
  opacity: 0.7;
}

.grid-card:nth-child(7n + 1) {
  grid-column: span 2;
  grid-row: span 1;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 81%);
}

.grid-card:nth-child(7n + 2) {
  grid-column: span 1;
  grid-row: span 1;
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 81%);
}

.grid-card:nth-child(7n + 3) {
  grid-column: span 1;
  grid-row: span 2;
  background-color: hsl(0, 0%, 100%);
}

.grid-card:nth-child(7n + 4) {
  grid-column: span 1;
  grid-row: span 1;
  background-color: hsl(0, 0%, 100%);
}

.grid-card:nth-child(7n + 5) {
  grid-column: span 2;
  grid-row: span 1;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}

footer {
  padding: 4px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

@media screen and (width: 375px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .grid-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
