body,
html {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

.grid-card {
  width: 90%;
  margin: 5% auto;
  border-radius: 10px;
  padding: 16px;
}

.first-card {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 85% 0%;
}

.photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

.name-container {
  margin-left: 8px;
  position: relative;
  z-index: 2;
  width: 100%;
  background: transparent;
}

.student-name {
  margin: 0 0 4px 0;
}

.verified {
  opacity: 0.5;
  margin: 4px 0 0 0;
}

.main-quote {
  font-size: 24px;
  color: hsl(0, 0%, 81%);
}

.review {
  color: hsl(0, 0%, 81%);
}

footer {
  padding: 4px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: hsl(210, 46%, 95%);
}
